@import "tailwindcss";
.my-green-color-style {
    background-color: #009543 ;
}
.my-blue-color-style {
    background-color: #00209F ;
}
.my-text-color-style {
    color: #009543 ;
}
.my-secondary-text-color-style {
    color: #00209F ;
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;             /* Chrome, Safari and Opera */
  }